body {
    font-family: sans-serif;
    --gradient-colour-1: rgb(247, 229, 255);
    --gradient-colour-2: rgb(226, 254, 255);
    --hidden-text-colour: #eef0ff;
    --bg-colour: linear-gradient(45deg, var(--gradient-colour-1) 0%, var(--gradient-colour-2) 100%);
    --text-colour: black;
    --muted-text-colour: grey;
    background: var(--bg-colour);
    color: var(--text-colour);
    height: 100vh;
    margin: 0;
} 
body.dark-theme {
    --gradient-colour-1: #2e0043;
    --gradient-colour-2: #004244;
    --text-colour: white;
    --hidden-text-colour: #1a1c43;
}
div.everything {
    padding: 30px;
}
h1, h2 {
    font-style: italic;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

.hidden-text {
    color: var(--hidden-text-colour);
}

div.footer {
    text-align: center;
    color: var(--muted-text-colour);
    margin: auto;
    margin-top: 150px;
}

div.footer > * {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

div.body {
    max-width: 800px;
    margin: auto;
    font-size: 1.2em;
}

button {
    border: none;
    padding: 5px;
    font-weight: bold;
}

.text-button {
    background: none;
    color: var(--muted-text-colour);
    cursor: pointer;
}